{% extends "basestaff.html" %}
{% block title %}Admin{% endblock %}

{% block content %}
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/admin">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Management</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseBuy"
                   aria-expanded="false" aria-controls="collapseBuy">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Audit
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseBuy" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/retrieveLogs">User Audit Activites</a>
                        <a class="nav-link" href="/retrieveSystemLogs">System Audit Activites</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseRent"
                   aria-expanded="false" aria-controls="collapseRent">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Renting
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseRent" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="layout-static.html">??</a>
                        <a class="nav-link" href="layout-sidenav-light.html">??</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseVote"
                   aria-expanded="false" aria-controls="collapseVote">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Voting
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseVote" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/reviewSuggestion">Review Suggestion</a>
                        <a class="nav-link" href="/">??</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseMember"
                   aria-expanded="false" aria-controls="collapseMember">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Membership
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseMember" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/retrieveUserAccount">Retrieve Customer Account</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Admin
        </div>
    </nav>
</div>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">User Audit Activites</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/home2">Dashboard</a></li>
                <li class="breadcrumb-item active">User Audit Activites</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Total Log Entries: {{ log_count }}
                </div>
                <div class="card-header">
                    <a class="download-btn" href="{{ url_for('downloadLogsCSV') }}" download="userlogs.csv">Download CSV</a>
                    <style>
                        .download-btn {
                            display: inline-block;
                            padding: 10px 20px;
                            background-color: green;
                            color: white;
                            text-decoration: none;
                            border-radius: 5px;
                        }
                    </style>
                </div>
                <div class="card-body">
                    <table class="table table-striped" style="color: white;">
                        <thead>
                        <tr>
                            <th style="color: black">Log ID</th>
                            <th style="color: black">Date & Time</th>
                            <th style="color: black">Category</th>
                            <th style="color: black">Activity</th>
                            <th style="color: black">IP address</th>
                            <th style="color: black">Status</th>
                            <th style="color: black">User Agent</th>
                            <th style="color: black">User ID</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in log_entries %}
                        <tr>
                            <td style="color: black; font-weight: bold; font-size: 16px;">{{ entry.logid }}</td>
                            <td style="color: black">{{ entry.log_datetime }}</td>
                            <td style="color: black">{{ entry.log_category }}</td>
                            <td style="color: black">{{ entry.log_activity }}</td>
                            <td style="color: black">{{ entry.log_userip }}</td>
                            <td style="color: black;text-transform: capitalize; ">{{ entry.log_status }}
                            </td>
                            <td style="color: black">{{ entry.log_useragent }}</td>
                            <td style="color: black">{{ entry.userid }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2022</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}

